/* GENERAL CAROUSEL STYLING */
.container-cards {
    display: flex;
    padding: 20px 40px;
    position: relative;
}
.container-cards-arrows {
    display: flex;
    align-items: center;
}

/* ARROWS STYLING */
.arrow-right, .arrow-left {
    opacity: 0;
}
.container-cards-arrows:hover .arrow-left, .container-cards-arrows:hover .arrow-right {
   opacity: 1;
}
